.main-content-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
  margin-left: 70px;
}
.title {
  width: 404px;
  color: #fff;
  font-family: sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.imdb {
  width: 30px;
  height: 15px;
}
.details {
  width: 302px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.ratings {
  display: flex;
  justify-content: space-between;
  width: 13vw;
}
.featured-header {
  margin-top: 90px;
}
.tomato {
  width: 15px;
  height: 15px;
}
.first {
  display: flex;
}
.second {
  display: flex;
}
.trailer-button {
  display: flex;
  padding: 6px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--rose-700, #be123c);
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
}
.trailer-icon {
  width: 20px;
  height: 20px;
}
.spinner {
  text-align: center;
  width: 1400px;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.spin {
  animation: rotate 2s infinite linear;
  width: 150px;
  height: 150px;
  position: relative;
  top: 200px;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.new-movie {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.new-movie-choice {
  flex: 1;
}

.new-hearts svg {
  width: 20px;
  height: 20px;
  fill: #d1d5db;
}

.new-card {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.new-movie-details {
  color: white;
}

.new-country {
  color: #9ca3af;
}

.new-movie-title {
  color: black;
}

.new-ratings {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: black;
}

.new-rating-icon {
  height: 10px;
  width: 10px;
  margin-right: 50px;
}

.new-rating-icon img {
  display: block;
  height: 15px;
  width: 35px;
  margin-left: -20px;
  margin-top: -2px;
}

.new-rating-value {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  color: black;
}

.new-genres {
  color: #9ca3af;
  margin: 0;
  padding-top: 20px;
}
.homepage {
  height: 600px;
  color: white;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 45px;
  left: 1px;
  z-index: -1;
}
