.movie {
  width: 240px;
  height: 415px;
  flex-shrink: 0;

  margin: 1.5rem;
  /* margin-top: 190px; */

  position: relative;
  overflow: hidden;
  border: none;
  top: 20px;
  /* padding-top: 70px; */
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  margin-bottom: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  color: #f9d3b4;
}

.ratings {
  display: flex;
  width: 14vw;
  height: 10px;
  margin-top: -20px;
  padding: 0;
}

.movie:hover {
  transform: scale(1.05, 1.05);
}

.card {
  height: 300px;
  border-radius: 20px;
}
.movie div:nth-of-type(3) {
  z-index: 2;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}
.heart {
  width: 20px;
  height: 19.474px;
  margin-left: 120px;
  fill: red;
}
.hearts {
  width: 20px;
  height: 19.474px;
  margin-left: 110px;
  fill: red;
}
.movie-choice {
  display: flex;
  width: 200px;
}
.movie-type {
  display: flex;
  padding: 3px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: rgba(243, 244, 246, 0.5);
  backdrop-filter: blur(1px);
  color: #111827;
  color: var(--gray-900, #111827);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    /* margin: 1rem; */
  }
}
@media only screen and (max-width: 857px) {
  .movie {
    width: 140px;
    height: 310px;
    display: flex;
  }
  .card {
    height: 199px;
  }
}
@media only screen and (max-width: 800px) {
  .movie {
    width: 120px;
    height: 290px;
    display: flex;
  }
  .card {
    height: 179px;
  }
}

/* For screens up to 780px */
@media only screen and (max-width: 780px) {
}
