.main-container {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  font-family: sans-serif;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-size: cover;
  margin-top: -7.6px;
  align-items: center;
}
.homepage-title {
  height: 650px;
  color: white;
  width: 100%;
}
.homepage-title {
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-card {
  display: flex;
  justify-content: space-between;
  height: 500px;
  position: relative;
  top: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}
