.main-container {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  font-family: sans-serif;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://s3-alpha-sig.figma.com/img/154e/382f/b7e8be84d7248b8b9812172cad1cd0c9?Expires=1695600000&Signature=OsNLaMa8CnSNnQeUuaSqQc4ItYP-nbUj0fcZVpScVICd8NzZdIEz80MJBNhEju2IQOUMxTFuDw4FavRj8rGqkBK6uLeq0vJG~Y-EPhP~LInckDsnzuQ5Y2BdrMTWOqkPaFdDAPmQXSLpWteihqFaB2f2VQGC6Za5gHu7t3hq62C0X21qB-8H7osPvHdFmh0c-B881mmDx6JQCfpUQRzNHAjMxdvS~LrFQthLfxQb29n8J4z25KNx4cSOzRDCMXJaP0gpPcPRXMYrFdz-nbt~yFJLM37b1YLKasT2gd5K2x6nxGQWVPlwAafWCDzo3TzVihPSl0FiwjfkbBREka5jUQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"),
    lightgray 50%;
  background-size: cover;
  margin-top: -7.6px;
  align-items: center;
}
.homepage-title {
  height: 650px;
  color: white;
  width: 100%;
}
.homepage-title {
  /* background: url("./John.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-card {
  display: flex;
  justify-content: space-between;
  height: 500px;
  position: relative;
  top: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}
