.main-container {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  font-family: sans-serif;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-size: cover;
  margin-top: -7.6px;
  align-items: center;
}
.homepage-title {
  height: 650px;
  color: white;
  width: 100%;
}
.homepage-title {
  background-repeat: no-repeat;
  background-size: cover;
}
.movie-card {
  display: flex;
  justify-content: space-between;
  height: 500px;
  position: relative;
  top: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 857px) {
  .main-container {
    width: 100vw;
    align-items: center;
  }
  .movie-card {
    display: flex;
    justify-content: space-between;
    height: 430px;
    top: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
  }
}
/* For screens up to 800px */
@media only screen and (max-width: 800px) {
  .movie-card {
    display: flex;
    justify-content: space-between;
    height: 430px;
    top: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 355px;
  }
}

/* For screens up to 780px */
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 412px) {
  .homepage-title {
    width: 400px;
  }
  .main-container {
    width: 400px;
  }
}
@media only screen and (max-width: 393px) {
  .homepage-title {
    width: 350px;
  }
  .main-container {
    width: 400px;
  }
}
@media only screen and (max-width: 360px) {
  .homepage-title {
    width: 340px;
  }
  .main-container {
    width: 320px;
  }
  .movie-card {
    display: flex;
    justify-content: space-between;
    height: 430px;
    top: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 345px;
    /* margin-left: 5px; */
  }
}
